#index{
	background-color: black;
}

.index {
font-family: 'Condiment', cursive;
color: white;
text-align: center;
padding-top: 30px;
font-size: 50px;

}

.start{
	text-align: center;
	color: black;
	font-family: 'Condiment', cursive;
	padding-top: 30px;
	font-size: 50px;
}